.hero-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 70vh;
    min-width: 22vh;
    position: relative;
    grid-area: hero;
}

.hero-container-mirror {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 70vh;
    min-width: 22vh;
    position: relative;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    grid-area: hero-mirror;
}

.hero-1 {
    background-image: url("../assets/img/heroes/boy-hero.png");
}

.hero-2 {
    background-image: url("../assets/img/heroes/girl-hero.png");
}

.hero-3 {
    background-image: url("../assets/img/heroes/man-hero.png");
}

.hero-4 {
    background-image: url("../assets/img/heroes/woman-hero.png");
}