.reception {
    background-image: url("../assets/img/office-background/white-offices/reception.png");
}

.office-1 {
    background-image: url("../assets/img/office-background/white-offices/white-office-1.png");
}

.office-2 {
    background-image: url("../assets/img/office-background/white-offices/white-office-2.png");
}

.office-3 {
    background-image: url("../assets/img/office-background/white-offices/white-office-3.png");
}

.office-4 {
    background-image: url("../assets/img/office-background/white-offices/white-office-4.png");
}

.office-5 {
    background-image: url("../assets/img/office-background/white-offices/white-office-5.png");
}

.boss-office {
    background-image: url("../assets/img/office-background/white-offices/boss-office.png");
}