.monster-legs-1 {
    background-image: url("../../assets/img/monstres/legs/legs1.png");
}

.monster-legs-2 {
    background-image: url("../../assets/img/monstres/legs/legs2.png");
}

.monster-legs-3 {
    background-image: url("../../assets/img/monstres/legs/legs3.png");
}