.monster-body-1 {
    background-image: url("../../assets/img/monstres/bodies/body1.png");
}

.monster-body-2 {
    background-image: url("../../assets/img/monstres/bodies/body2.png");
}

.monster-body-3 {
    background-image: url("../../assets/img/monstres/bodies/body3.png");
}

.monster-body-4 {
    background-image: url("../../assets/img/monstres/bodies/body4.png");
}

.monster-body-5 {
    background-image: url("../../assets/img/monstres/bodies/body5.png");
}