.monster-head-1 {
    background-image: url("../../assets/img/monstres/heads/head1.png");
}

.monster-head-2 {
    background-image: url("../../assets/img/monstres/heads/head2.png");
}

.monster-head-3 {
    background-image: url("../../assets/img/monstres/heads/head3.png");
}

.monster-head-4 {
    background-image: url("../../assets/img/monstres/heads/head4.png");
}